/*colores*/
:root {


	/*principal beca básica*/
	--color-verde-1:  #235B4E; 	/*rgb(35, 91, 78)*/
	--color-verde-2: #00A57F; 	/*rgb(0, 165, 127)*/
	--color-verde-3: #86C4A2; 	/*rgb(134, 196, 162)*/
	--color-verde-4: #DBECE3; 	/*rgb(219, 236, 227)*/
	--color-verde-5: #10312B;  	/*rgb(16, 49, 43)*/

	/*Secundarios/Beca Educación Superior*/
	--color-dorado-1: #BC955C;  /*rgb(188, 149, 92)*/
	--color-dorado-2: #837141;  /*rgb(142, 113, 65)*/
	--color-dorado-3: #DDC9A3;  /*rgb(221, 201, 163)*/
	--color-dorado-4: #EBDFC8; 	/*rgb(235, 223, 200)*/
	--color-dorado-5: #645231; 	/*rgb(100, 82, 49)*/

	/*Secundarios/Beca Elisa Acuña*/
	--color-rojo-1: #9F2241;	/*rgb(159, 34, 65)*/
	--color-rojo-2: #CC2B53;	/*rgb(204, 43, 83)*/
	--color-rojo-3: #E689A0;	/*rgb(0, 40, 30, 10)*/
	--color-rojo-4: #F8DEE4;	/*rgb(248, 222, 228)*/
	--color-rojo-5: #691C32;	/*rgb(105, 28, 50)*/


	/*Secundarios/Beca Educación Media Superior*/

	--color-morado-1: #643585;	/*rgb(100, 53, 133)*/
	--color-morado-2: #9D54D1;	/*rgb(157, 84, 209)*/
	--color-morado-3: #866B99;	/*rgb(134, 107, 153)*/
	--color-morado-4: #B792D1;	/*rgb(183, 146, 209)*/
	--color-morado-5: #3D2152;	/*rgb(61, 33, 82)*/

	/* Secundarios*/
	--color-azul-1: #006F7F;	/*rgb(0, 111, 127)*/
	--color-azul-2: #00B1CC;	/*rgb(0, 177, 204)*/
	--color-azul-3: #2D8795;	/*rgb(45, 135, 149)*/
	--color-azul-4: #3DB9CC;	/*rgb(61, 185, 204)*/
	--color-azul-5: #00424D;	/*rgb(0,66,77)*/

	/*Estados del sistema*/

	--color-info: #2F80ED;	/*rgb(47, 128, 237)*/
	--color-exitoso: #27AE60;	/*rgb(39, 174, 96)*/
	--color-advertencia: #E2B93B;	/*rgb(226, 185, 59)*/
	--color-error: #EB5757;	/*rgb(235, 87, 87)*/


	/*grises*/
	--color-gris-1: #98989A;	/*rgb(152, 152, 154)*/
	--color-gris-2: #6F7271;	/*rgb(111, 114, 113)*/
	--color-gris-3: #C2C2C2;	/*rgb(194, 194, 194)*/
	--color-gris-4: #F0F0F0;	/*rgb(240, 240, 240)*/
	--color-gris-5: #2C2E2D;	/*rgb(44, 46, 45)*/

	/*basicos*/
	--color-black: #000000;		/*rgb(0, 0, 0)*/
	--color-white: #FFFFFF;		/*rgb(255, 255, 255)*/
	--color-background: #F7FCF9;	/*rgb(247, 252, 249)*/



	--color-primario: var(--color-verde-1);
	--color-blue:var(--color-verde-2);
	--color-red:var(--color-rojo-1);
	--color-pink:var(--color-rojo-2);
	--color-lightbrown:var(--color-dorado-1);
	--color-brown:var(--color-dorado-2);
	--color-greenlight:var(--color-verde-4);

	--color-white: #fbfbfb; 
	--color-secundario: #DDC9A4;

	--font-family: "Montserrat-Regular";

	--font-family: "Montserrat-SemiBold";


}

@font-face {
	font-family: "Montserrat-SemiBold";
	font-weight: normal;
	font-style: normal;
	src: local('Montserrat-SemiBold'), url('http://localhost/ideas/cnbbj23/sistema-sica/SICA/public_html/fonts/Montserrat/Montserrat-SemiBold.ttf') format("truetype");
}


@font-face {
	font-family: "Montserrat-Regular";
	font-weight: normal;
	font-style: normal;
	src: local('Montserrat-Regular'), url('http://localhost/ideas/cnbbj23/sistema-sica/SICA/public_html/fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Montserrat-Bold";
	font-weight: normal;
	font-style: normal;
	src: local('Montserrat-Bold'), url('http://localhost/ideas/cnbbj23/sistema-sica/SICA/public_html/fonts/Montserrat/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "Montserrat-ExtraBold";
	font-weight: normal;
	font-style: normal;
	src: local('Montserrat-ExtraBold'), url('http://localhost/ideas/cnbbj23/sistema-sica/SICA/public_html/fonts/Montserrat/Montserrat-ExtraBold.ttf') format("truetype");
}


/*párrafos*/
h1{
	font-size: 56px;
	line-height: 61.6px;
	
	font-family: "Montserrat-Bold", Arial, sans-serif;
	
}

h2{
	font-size: 48px;
	font-weight: bolder!important;
	line-height: 52.80px!important;
	font-family: "Montserrat-ExtraBold", Arial, sans-serif;
}
h3{
	font-size: 40px;
	line-height: 44px;
	
}
h4{
	font-size: 32px;
	line-height: 35.2px;
}
h5{
	font-size: 24px;
	line-height: 26.4px;
}
h6{
	font-size: 20px;
	line-height: 22px;
}